.main {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 20px;
}
.text_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding-bottom: 32px;
  padding-top: 20px;
}
.text_content h1 {
  font-size: 24px;
  font-weight: 500;
}
.text_content p {
  font-size: 14px;
  font-weight: 400;
  color: #939199;
}
.singup__button__link {
  text-decoration: none;
}
.signup__input__img {
  position: absolute;
  cursor: pointer;
  right: 33px;
  top: 328px;
}
